@model Project_Dotnet.Models.Facilitie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Facilitie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilitieName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilitieName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilitieDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilitieDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilitiePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilitiePrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FacilitieID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
